allow untrusted_app fuse_device:dir { getattr open read setattr };
allow untrusted_app fuse_device:filesystem getattr;
allow untrusted_app storage_stub_file:dir getattr;

allow untrusted_app firmware_file:dir read;
allow untrusted_app mac_perms_file:file getattr;
