allow untrusted_app_25 fuse_device:dir { getattr open read write search setattr add_name create remove_name rmdir};
allow untrusted_app_25 fuse_device:file { getattr open read write setattr create append unlink};
allow untrusted_app_25 fuse_device:filesystem getattr;

allow untrusted_app_25 storage_stub_file:dir getattr;
