allow untrusted_app_25 fuse_device:dir { getattr open read write search setattr add_name create remove_name rmdir};
allow untrusted_app_25 fuse_device:file { getattr open read write setattr create append unlink rename };
allow untrusted_app_25 fuse_device:filesystem getattr;

allow untrusted_app_25 storage_stub_file:dir getattr;

allow untrusted_app_25 camera_prop:file read;
allow untrusted_app_25 sysfs:file read;

#allow untrusted_app_25 debugsfs_wakelock:file read;
#allow untrusted_app_25 rootfs:dir read;
#allow untrusted_app_25 serialno_prop:file read;
