allow untrusted_app_25 fuse_device:dir { getattr open read write search setattr };
allow untrusted_app_25 fuse_device:file { getattr open read write setattr };
allow untrusted_app_25 fuse_device:filesystem getattr;

